<ul class="nav nav-tabs" id="nav_profile">
    <li class="active"><a data-toggle="tab" href="#profile_m1">Profile</a></li>
    <li><a data-toggle="tab" href="#profile_m2">Likes</a></li>
    <li><a data-toggle="tab" href="#profile_m3">Shop History</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="profile_m1" class="tab-pane fade in active">
        <div id="profile_test"></div>
    </div>
    <div id="profile_m2" class="tab-pane fade">
      <div id="likes"></div>
    </div>
    <div id="profile_m3" class="tab-pane fade" style="text-align: center;">
      <h1>Historial compras:</h1>
      <div id="history" style="width: 80%; display: inline-block; margin-top: 10px"></div>
    </div>
  </div>